.input {
  position: relative;

  &__input {
    padding: 15px 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(64, 64, 64);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;

    &:focus + label {
      bottom: 100%;
      transform: translateY(-12px);
      font-size: 12px;
    }
  }

  &__label {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 100%;
    transition: .2s;
    color: rgb(163, 163, 163);
  }

  &--toTop .input__label {
    bottom: 100%;
    transform: translateY(-12px);
    font-size: 12px;
  }
}